div {
  background-color: rgb(255, 251, 0);
}
.content {
  color: rgb(255, 0, 179);
}
#app {
  text-align: center;
  font-size: 25px;
}
.content input {
  margin-left: 12px;
  background-color: transparent;
}